<!DOCTYPE html>
<html lang="en">

<head>
	<title><%= data.name %>'s Profile | Pinkmantaray Connect</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/07e3f56f33.js" crossorigin="anonymous"></script>
	<link href="../stylesheets/profile.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&family=Open+Sans&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,900&display=swap"
		rel="stylesheet">
	​
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var socket = io();
			var userData = <% - JSON.stringify(data) %>
				// dialog css stuff, can be replaced in future css styles file
				$('.dialog').css('position', 'absolute');
			$(".dialog").css('z-index', 9999);
			$('.dialog').css('background-color', 'white');
			// $('.dialog').css('border-style', 'outset');
			$(".dialog").dialog({
				autoOpen: false,
				modal: true,
				resizable: false,
				show: false,
				draggable: false,
				open: function (event, ui) {
					$(".ui-dialog-titlebar-close", ui.dialog || ui).hide();
				}
			});
			if (userData["myProfile"]) {
				if (userData["hidden"] == 0) {
					$("#profileForm").after('<button id="hideProfile">Hide my profile</button>');
				} else {
					$("#profileForm").after('<button id="unhideProfile">Unhide my profile</button>');
				}
			}

			$('#myProfileOptions').on('click', '#hideProfile', function () {
				$('#hideDialog').dialog('open');
			});
			$('#myProfileOptions').on('click', '#unhideProfile', function () {
				$('#unhideDialog').dialog('open');
			});
			$('.closeBtn').click(function () {
				$(this).parent().dialog('close');
			});
			$('#hideConfirmBtn').click(function () {
				socket.emit('hideProfile', { 'hide': true });
				$(this).parent().dialog('close');
				$('#hideProfile').remove();
				$("#profileForm").after('<button id="unhideProfile">Unhide my profile</button>');
				$('#myProfileOptions').on('click', '#hideProfile', function () {
					$('#hideDialog').dialog('open');
				});
			});
			$('#unhideConfirmBtn').click(function () {
				socket.emit('hideProfile', { 'hide': false });
				$(this).parent().dialog('close');
				$('#unhideProfile').remove();
				$("#profileForm").after('<button id="hideProfile">Hide my profile</button>');
				$('#myProfileOptions').on('click', '#unhideProfile', function () {
					$('#unhideDialog').dialog('open');
				});
			});
		})
	</script>
	​
</head>
​

<body id="profile-body">
	​
	<%- include("../partials/header") %>
	​
	<% if (Object.keys(data).length === 0) { %>
	<form action="/" method="GET">
		<h2>Profile not found!</h2>
		<input type="submit" name="returnHome" value="Return to Home">
	</form>
	<% } else { %>
	<div id="profileInfoDiv">
		<% if (!data.myProfile) { %>
		<h2><%= data.name %>'s Profile</h2>
		<% } else { %>
		<h2>My Profile</h2>
		<% } %>

		<table id="profileInfo">
			<tr>
				<td class="name"><%= data.name %></td>
				<td><%= new Date().getFullYear() - data.year %></td>
				<td><%= data.pronouns %></td>
				<% if (!data.myProfile) { %>
				<td><a href="https://instagram.com/<%= data.instagram %>">
						<i class="fab fa-instagram fa-2x"></i></a></td>
				<td><a href="mailto:<%= data.email %>"><i class="far fa-envelope fa-2x"></i></a></td>
				<% } %>
			</tr>
			<tr>
				<td><span>Gender: </span> <%= data.gender.join(', ') %></td>
			</tr>
			<tr>
				<td><span>Sexuality: </span> <%= data.sexuality.join(', ') %></td>
			</tr>
			<tr>
				<td><span>Country: </span> <%= data.country %></td>
			</tr>
			<tr>
				<td><span>Language: </span><%= data.language.join(', ') %></td>
			</tr>
			<tr>
				<td><span>Culture: </span><%= data.race_ethnicity.join(', ') %></td>
			</tr>
			<tr>
				<td><span>Religion: </span><%= data.religion.join(', ') %></td>
			</tr>
			<tr>
				<td><span>Interests:</span> <%= data.interest.join(', ') %></td>
			</tr>
		</table>
		<div>
			​
			<% if (!data.myProfile) { %>
			<form id="profileForm" action="/report?username=<%= data.username %>" method="GET">
				<input type="hidden" name="userId" value="<%= data.id %>">
				<input type="hidden" name="username" value="<%= data.username %>">
				<div id="reportDiv">
					<input type="submit" name="reportBtn" value="Report">Report User</input>
				</div>
			</form>
			<% } else { %>
			<div id="myProfileOptions">
				<form id="profileForm" action="/profile?edit=" method="GET">
					<!-- <div id="reportDiv"> -->
					<button type="submit" name="edit">Edit Profile</button>
					<!-- </div> -->
				</form>
			</div>
			​
			<% if (data.hidden == 1) { %>
			<button id="unhideProfile">Unhide my profile</button>
			<% } else { %>
			<button id="hideProfile">Hide my profile</button>
			<% } %>
			<% }  %>

		</div>
	</div>
	​
	​
	<div id="hideDialog" class="dialog">
		<p>Are you sure you want to hide your profile? Doing so will remove you from the connection pool; you will not
			be presented when your profile matches others' search queries.</p>
		<!-- <button class='closeBtn'>Close</button> -->
		<button id="hideConfirmBtn">Hide my profile</button>
	</div>
	<div id="unhideDialog" class="dialog">
		<p>Unhide your profile and make yourself visible to others' search queries?</p>
		<!-- <button class='closeBtn'>Close</button> -->
		<button id="unhideConfirmBtn">Unhide my profile</button>
	</div>
	<% } %>
</body>