<!DOCTYPE html>
<html lang="en">

<head>
	<title><%= data.name %>'s Profile | Pinkmantaray Connect</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/07e3f56f33.js" crossorigin="anonymous"></script>
	<link href="../stylesheets/profile.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&family=Open+Sans&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,900&display=swap"
		rel="stylesheet">
	​
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var socket = io();

			var userData = <%- JSON.stringify(data) %>
			// dialog css stuff, can be replaced in future css styles file
			$('.dialog').css('position', 'absolute');
			$(".dialog").css('z-index', 9999);
			$('.dialog').css('background-color', 'white');
			// $('.dialog').css('border-style', 'outset');
			$(".dialog").dialog({
				autoOpen: false,
				modal: true,
				resizable: false,
				show: false,
				draggable: false,
				open: function (event, ui) {
					$(".ui-dialog-titlebar-close", ui.dialog || ui).hide();
				}
			});
			// hide profile button
			// if (userData["myProfile"]) {
			// 	if (userData["hidden"] == 0) {
			// 		$("#profileForm").after('<button id="hideProfile">Hide my profile</button>');
			// 	} else {
			// 		$("#profileForm").after('<button id="unhideProfile">Unhide</button>');
			// 	}
			// }

			// $('#myProfileOptions').on('click', '#hideProfile', function () {
			// 	$('#hideDialog').dialog('open');
			// });
			// $('#myProfileOptions').on('click', '#unhideProfile', function () {
			// 	$(c'#unhideDialog').dialog('open');
			// });
			//toggle switch BROKEN
			$('input.checkbox').change( ()=>{
				if ($('input.checkbox').is(':checked')) {
					$('#hideDialog').dialog('open');
				} else {
					$('#unhideDialog').dialog('open');
				}
			})

			$('.closeBtn').click(function () {
				$(this).parent().dialog('close');
			});
			$('#hideConfirmBtn').click(function () {
				socket.emit('hideProfile', { 'hide': true });
				$(this).parent().dialog('close');
				$('#hideProfile').remove();
				$("#profileForm").after('<button id="unhideProfile">Unhide</button>');
				$('#myProfileOptions').on('click', '#hideProfile', function () {
					$('#hideDialog').dialog('open');
				});
			});
			$('#unhideConfirmBtn').click(function () {
				socket.emit('hideProfile', { 'hide': false });
				$(this).parent().dialog('close');
				$('#unhideProfile').remove();
				$("#profileForm").after('<button id="hideProfile">Hide</button>');
				$('#myProfileOptions').on('click', '#unhideProfile', function () {
					$('#unhideDialog').dialog('open');
				});
			});
		})
	</script>
	​
</head>
​

<body id="profile-body">
	​
	<%- include("../partials/header") %>
	​
	<% if (Object.keys(data).length === 0) { %>
	<form action="/" method="GET">
		<h2>Profile not found!</h2>
		<input type="submit" name="returnHome" value="Return to Home">
	</form>
	<% } else { %>
	<div id="profileInfoDiv">
		<% if (!data.myProfile) { %>
			<h2 class="blue"><span><%= data.name %>'s Profile</h2>
		<% } else { %>
			<h2 class="pink">My Profile</h2>
			<div class="button b2" id="button-13">
				<input type="checkbox" class="checkbox">
				<div class="knobs">
					<span></span>
				</div>
			</div>
		<% } %>

		<table id="profileInfo">
			<tr style="width: 100%">
				<td class="name"><%= data.name %></td>
				<td><%= data.pronouns %></td>
				<td><%= new Date().getFullYear() - data.year %></td>
				<% if (!data.myProfile) { %>

					<td><a href="https://instagram.com/<%= data.instagram %>">
							<i class="fab fa-instagram fa-2x"></i></a></td>
					<td><a href="mailto:<%= data.email %>"><i class="far fa-envelope fa-2x"></i></a></td>
					<!-- <td><a href="/report?id=<%= data.id %>"><i class="fas fa-exclamation-triangle fa-2x"></i></a></td> -->

				<% } %>
			</tr>
			<tr>
				<td> <%= data.gender.join(', ') %></td>
			</tr>
			<tr>
				<td> <%= data.sexuality.join(', ') %></td>
			</tr>
			<tr>
				<td> <%= data.country %></td>
			</tr>
			<tr>
				<td> <%= data.language.join(', ') %></td>
			</tr>
			<tr>
				<td> <%= data.race_ethnicity.join(', ') %></td>
			</tr>
			<tr>
				<td> <%= data.religion.join(', ') %></td>
			</tr>
			<tr style="width: 100%">
				<td> <%= data.interest.join(', ') %></td>
			</tr>
		</table>
		<div>	​
			<!-- <% if (!data.myProfile) { %>
			<form id="profileForm" action="/report?username=<%= data.username %>" method="GET"> -->
				<!-- <input type="hidden" name="userId" value="<%= data.id %>">
				<input type="hidden" name="username" value="<%= data.username %>"> -->
				<div id="reportDiv">
					<button type="submit" name="reportBtn">Report User</button>
				</div>
			</form>

			<!-- <button id="deleteConnectionBtn">Delete Connection</button> -->

			<% } else { %>
					<div id="myProfileOptions">
						<form id="profileForm" action="/profile?edit=" method="GET">
							<!-- <div id="reportDiv"> -->
								<button id="editProfile" type="submit" name="edit">Edit Profile</button>
							<!-- </div> -->
						</form>
					</div>

					<!-- <% if (data.hidden == 1) { %>
					<button id="unhideProfile">Unhide my profile</button>
					<% } else { %>
					<button id="hideProfile">Hide my profile</button>
					<% } %> -->
			<% }  %>
		</div>
	</div>
	​
	​
	<div id="hideDialog" class="dialog">
		<div><span>Are you sure you want to hide your profile?</span> </br> Doing so will remove you from the connection pool and you will not
			be presented when your profile matches others' search queries.</div>
		<!-- <button class='closeBtn'>Close</button> -->
		<button id="hideConfirmBtn">Hide</button>
	</div>
	<div id="unhideDialog" class="dialog">
		<div><span>Are you sure you want to unhide your profile?</span> </br>Doing so will add you to the connection pool and will make yourself visible to others' search queries.</div>
		<!-- <button class='closeBtn'>Close</button> -->
		<button id="unhideConfirmBtn">Unhide</button>
	</div>
	</div>
	<% } %>
</body>