<!DOCTYPE html>
<html lang="en">
<head>
<title>Home | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../stylesheets/home.css" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&family=Open+Sans&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,900&display=swap"
	rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/07e3f56f33.js" crossorigin="anonymous"></script>
</head>

<body>

<%- include("partials/header") %>

<!-- <div id="home-instruct">
	<div>View your connections and make new ones.</div>
	<div>Filter by <span>location</span>, <span>age</span>, <span>gender</span>, <span>sexuality</span>, <span>race and ethnicity</span>, <span>religion</span> and <span>interests</span>.</div>
	<div>Request to connect and wait to hear back!</div>
</div> -->

<h2>My Connections</h2>
<div id="my-connections">


	<table>

		<% if (results.length > 0) { %>
			<% for(var i = 0; i < results.length; i++) { %>
				<tr>
					<td><%= results[i].name %> </td>
					<td><%= results[i].pronouns %> </td>
					<!-- <td><a href="https://www.instagram.com/<%= results[i].instagram %>">
						<img border="0" alt="www.instagram.com/<%=results[i].instagram %>" 
						src="/views/imgs/instagram_logo.png" width="20vh" height="20vh"></a>
					</td> -->
					<td><a href="https://www.instagram.com/<%= results[i].instagram %>">
						<i class="fab fa-instagram fa-2x"></i></a>
					</td>
					<!-- <td><a href=""><img border="0" alt="email" 
						src="/views/imgs/email_icon.png" width="22vh" height="16vh"></a></td> -->
					<td><a href=""><i class="far fa-envelope fa-2x"></i></a></td>
		
					<!-- <td><a href="/report?id=<%= results[i].id %>"><img border="0" alt="Report user" 
						src="/views/imgs/report_icon.png" width="20vh" height="20vh"></a></td> -->
					<td><a href="/report?id=<%= results[i].id %>"><i class="fas fa-exclamation-triangle fa-2x"></i></a></td>
				</tr>
			<% } %>
		<% } %>

	</table>
</div>

</body>
</html>