<!DOCTYPE html>
<html lang="en">
<head>
<title>Notifications | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script> 
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="/scripts/notificationsScript.js"></script>

</head>

<body>

<%- include("../partials/header") %>

<h2>Invitations</h2>
<table id="invitationsTable">
	<% var counter = 0; %>
	<% if ('invitations' in data) { %>
		<% for (var i in data['invitations']) { %>
			<tr id="<%= counter %>">
				<td><%= data['invitations'][i].pronouns %></td>
				<td><%= data['invitations'][i].country %></td>
				<td><%= new Date().getFullYear() - data['invitations'][i].year %></td>
				<td><%= data['invitations'][i].gender.join(', ') %></td>
				<td><%= data['invitations'][i].sexuality.join(', ') %></td>
				<td><%= data['invitations'][i].race_ethnicity.join(', ') %></td>
				<td><%= data['invitations'][i].religion.join(', ') %></td>
				<td><%= data['invitations'][i].interest.join(', ') %></td>
				<td id="userId<%= counter %>"><%= data['invitations'][i].id %></td>
			</tr>
			<tr id="buttons<%= counter %>">
				<td><button class="acceptBtn" id="accept<%= counter %>">Accept</button></td>
				<td><button class="ignoreBtn" id="ignore<%= counter %>">Ignore</button></td>
			</tr>
			<% counter++; %>
		<% } %>
	<% } else { %>
		<h3>No invitations!</h3>
	<% } %> 
</table>

<h2>Pending</h2>
<table id="pendingTable">
	<% var counter = 0; %>
	<% if ('pending' in data) { %>
		<% for (var i in data['pending']) { %>
			<tr id="<%= counter %>">
				<td><%= data['pending'][i].pronouns %></td>
				<td><%= data['pending'][i].country %></td>
				<td><%= new Date().getFullYear() - data['pending'][i].year %></td>
				<td><%= data['pending'][i].gender.join(', ') %></td>
				<td><%= data['pending'][i].sexuality.join(', ') %></td>
				<td><%= data['pending'][i].race_ethnicity.join(', ') %></td>
				<td><%= data['pending'][i].religion.join(', ') %></td>
				<td><%= data['pending'][i].interest.join(', ') %></td>
				<td id="userId<%= counter %>"><%= data['pending'][i].id %></td>
			</tr>
			<tr id="buttons<%= counter %>">
				<td><button class="cancelBtn" id="cancel<%= counter %>">Cancel</button></td>
			</tr>
			<% counter++; %>
		<% } %>
	<% } else { %>
		<h3>No pending requests!</h3>
	<% } %> 
</table>


</body>