<!DOCTYPE html>
<html lang="en">
<head>
<title>Report a User | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/07e3f56f33.js" crossorigin="anonymous"></script>
<link href="../stylesheets/help-report.css" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&family=Open+Sans&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,900&display=swap"
	rel="stylesheet">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script> 
<script type="text/javascript">
	$(document).ready(function() {
		var socket = io();

		$('.reportBtn').click(function() {
			var user_id = $(this).val();
			location.href = '/report?id='+user_id;
		});

		$('.deleteBtn').click(function() {
			var user_id = $(this).val();
			// maybe add a dialog or something, do this later
			// for now, just delete it
			socket.emit('deleteConnection', {"id": user_id});
		});

		socket.on('deleteResult', function(vals) {
			if (vals['success']) {
				$('#connection'+vals['id']).replaceWith('<h4>Connection successfully removed!</h4>');
			} else {
				$('#connection'+vals['id']).before('<h4>Something went wrong!</h4>')
			}
		})
	});
</script>

</head>

<body>
	
	<%- include("../partials/header") %>
	<h2>Report A User</h2>
	<div id="report-page">

		<div id="divDesc">
			<div>Your safety and privacy is a top priority. If someone has made you feel unsafe in any way, please let us know. If you’re unsure of the boundaries on this website, please visit our <a href="/guidelines">community guidelines</a>.</div>
		
			<div>If someone hasn’t violated community guidelines but you no longer want to be connected with them, you can simply DELETE them from your connections. Please keep in mind that if this person has already saved your contact information outside of Pinkmantaray Connect, deleting them here will not remove you from their devices. Pinkmantaray Connect cannot be responsible for information outside of its control.</div>
		
			<div><a href="/contact">Contact us</a> if you have any questions. We are here to help and protect your privacy in any way that we are able.</div>
		
		</div>
		<div>
			<table>
				<% for (var i = 0; i < data.length; i++) { %>
					<tr id='connection<%= data[i].id %>'>
						<td>
							<button class='reportBtn' value='<%= data[i].id %>'>Report</button>
							<button class='deleteBtn' value='<%= data[i].id %>'>Delete Connection</button>
						</td>
						<td><%= data[i].name %></td>
						<td><%= data[i].pronouns %></td>
						<td><a href="https://www.instagram.com/<%= data[i].instagram %>"><i class="fab fa-instagram fa-2x"></i></a></td>
					</tr>		
			
				<% } %>
			</table>
		</div>
	</div>

	

</body>